<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Me</title>
    <link rel="stylesheet" type="text/css" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
<strong>
    <u>
        <h4>About the project</h4>
    </u>
</strong>

 <p>
     This is the spring boot project that only performs CRUD operations  -> Create,Update and Delete for the data from the table
     This can help much spring boot learners who initially get started knowing about spring boot.
     This project has used MVC (Model View Controller) Architecture, and involving web technology as well
     It has also consisted the uses of Boostrap,CSS,Javascript and advanced knowledge of Java programming.
 </p>

<h5>About Developer</h5>
<details>
    <p>We Program For Future</p>
    <ol>Developed by Abdulrahman from State University of Zanzibar</ol>
    <ol>Contact me with 0675704982/0692524034</ol>
    <ol>Kheria048@gmail.com </ol>
    <ol>
        <a href="https://spring.io/guides/gs/handling-form-submission/">Get Started With Spring-boot</a>
    </ol>
<!--    <a href="https://spring.io/guides/gs/handling-form-submission/">Get Started With Spring-boot</a>-->
<!--        <link href="https://spring.io/guides/gs/handling-form-submission/">-->

</details>
</body>
</html>